:root {
  --app-color: #12171d;
  --app-color-light: #1b222b;
  --app-color-lightest: #242e3a;

  /*DEFAULT COLORS*/
  --gradient-left: #c80043;
  --gradient-right: #6f00ff;

  --button-color-var: #ffffff;

  --box-shadow: 0 0 2.5px rgba(255, 0, 67, 0.7), 0 0 10px rgba(255, 0, 67, 0.7),
    0 0 30px rgba(255, 0, 67, 0.7);

  --text-shadow: 0 0 5px rgba(255, 0, 67, 0.6), 0 0 20px rgba(255, 0, 67, 0.6),
    0 0 60px rgba(255, 0, 67, 0.6);

  --button-color: #c80043;
  --button-hover-color: #ff0055;
  --global-textcolor: #fff;
}

.settings-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  height: 80%;
}

.settings-username-input {
  text-align: left;
  width: 20%;
  border: 0;
  border-bottom: 3px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: var(--global-textcolor);
  padding: 7px 0;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.settings-username-input:focus {
  padding-bottom: 7px;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  border-image-slice: 1;
}

.settings-usertag-input {
  text-align: left;
  width: 5%;
  border: 0;
  border-bottom: 3px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: var(--global-textcolor);
  padding: 7px 0;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.settings-usertag-input:focus {
  padding-bottom: 7px;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  border-image-slice: 1;
}

.settings-home-username-input {
  text-align: left;
  width: 20%;
  border: 0;
  border-bottom: 3px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: var(--global-textcolor);
  padding: 7px 0;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.settings-home-username-input:focus {
  padding-bottom: 7px;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  border-image-slice: 1;
}
#selected-color-theme {
  width: 20%;
}

.preview-flexdiv {
  display: flex;
  flex-direction: row;
}
