:root {
  --app-color: #12171d;
  --app-color-light: #1b222b;
  --app-color-lightest: #242e3a;

  /*DEFAULT COLORS*/
  --gradient-left: #c80043;
  --gradient-right: #6f00ff;

  --button-color-var: #ffffff;

  --box-shadow: 0 0 2.5px rgba(255, 0, 67, 0.7), 0 0 10px rgba(255, 0, 67, 0.7),
    0 0 30px rgba(255, 0, 67, 0.7);

  --text-shadow: 0 0 5px rgba(255, 0, 67, 0.6), 0 0 20px rgba(255, 0, 67, 0.6),
    0 0 60px rgba(255, 0, 67, 0.6);

  --button-color: #c80043;
  --button-hover-color: #ff0055;
  --global-textcolor: #fff;
}

.settings-username-input {
  text-align: left;
  width: 20%;
  border: 0;
  border-bottom: 3px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: var(--global-textcolor);
  padding: 7px 0;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.settings-username-input:focus {
  padding-bottom: 7px;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  border-image-slice: 1;
}

.settings-usertag-input {
  text-align: left;
  width: 5%;
  border: 0;
  border-bottom: 3px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: var(--global-textcolor);
  padding: 7px 0;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.settings-usertag-input:focus {
  padding-bottom: 7px;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  border-image-slice: 1;
}

#selected-color-theme {
  width: 100%;
  margin-right: 5rem;
}

.preview-flexdiv {
  display: flex;
  flex-direction: row;
}

.settings-navbar {
  width: 99%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  border-bottom: 2px solid rgba(47, 53, 77, 0.9);
  margin-top: 0.2rem;
}

.settings-navbar span.active {
  position: relative;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  transition: 0s;
  background: var(--app-color-light);
  width: fit-content;
}

.settings-navbar span.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 50%;
  border-bottom: 4px solid var(--gradient-right);
  padding: 0.5rem 50%;
  border-radius: 4px;
}

.settings-navbar span {
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.settings-navbar span:hover {
  background-color: var(--app-color-light);
}

.settings-wrapper-handler {
  width: 99.1%;
  margin-top: 2rem;
}

.setting {
  width: 45%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.username-input {
  text-align: left;
  border: 0;
  border-bottom: 3px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: var(--global-textcolor);
  padding: 7px 0;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.username-input:focus {
  padding-bottom: 7px;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  border-image-slice: 1;
}

.settings-group {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.settings-group-header {
  display: block;
  color: grey;
}

.settings-group-setting {
  display: flex;
  margin-right: 1rem;
  padding: 1rem;
  height: 2.5rem;
  align-items: center;
  justify-content: space-between;
}

#custom-theme-req {
  display: none;
}

.setting-header {
  color: #fff;
  display: block;
  font-size: 1.1em;
  margin-bottom: 0.5rem;
}

.settings-group-text {
  width: 65%;
}

.settings-group-desc {
  color: grey;
  width: 10rem;
}

.settings-group-seperator {
  background: var(--app-color-light);
  height: 2px;
  border: none;
  margin: 1rem;
  margin-right: 2rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--app-color-light);
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 8px;
}

input:hover + .slider {
  background-color: var(--app-color-lightest);
}

input:checked + .slider {
  background-color: var(--button-color);
}

input:checked:hover + .slider {
  background-color: var(--button-hover-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings-wrapper {
  display: none;
}

#active-wrapper {
  display: block;
}