.massgrid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  font-size: 17px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bundlecard {
  display: inline-block;
  width: 93%;
  height: auto;
  background-color: var(--app-color-light);
  overflow: hidden;
  padding: 1.5%;
  filter: drop-shadow(0px 0px 0px #000000);
  -webkit-filter: drop-shadow(0px 0px 0px #000000);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: auto !important;
  z-index: 2;
  border-radius: 4px;
  border: 1px solid rgba(47, 53, 77, 0.9);
}

.bundlecard:active > .bundlecard-hovertext span {
  color: #f70344;
}

.bundlecard:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

.bundlecard:hover > *:not(.bundlecard-hovertext) {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.bundlecard:hover > .bundlecard-hovertext {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 1;
}

.bundle-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  filter: drop-shadow(0px 0px 2px var(--app-color-lightest));
  -webkit-filter: drop-shadow(0px 0px 2px var(--app-color-lightest));
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.bundlecard-hovertext {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0;
  height: 80%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  word-wrap: normal;
}

.bundlecard-hovertext span {
  font-weight: 500;
  font-size: 1.7em;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px rgba(0, 0, 0, 1), 0 0 15px rgba(0, 0, 0, 1),
    0 0 10px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1);
}
.bundlecard-seperator-hr {
  background: -webkit-linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  background: -o-linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  background: -moz-linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  background: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  height: 3px;
  border: none;
  animation: neonAnimBoxSmall 2s alternate-reverse infinite;
}

.bundlecard-text {
  width: 100%;
}

.bundle-title {
  font-size: 1.2em;
  font-weight: 500;
}

.bundledesc-div {
  width: 90%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.bundle-desc {
  font-weight: 300;
  font-size: 1.2em;
}

.bundle-desc {
  width: 90%;
}

.bundlecard-seperator {
  width: 50%;
  border: 1px;
}

.bundle-largeview {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: auto;
}

.largeview-bundleinfo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.largeinfo-bundleinfo-flex-right {
  margin-left: 5%;
  font-size: 1em;
  margin-top: 1rem;
}

.largeinfo-bundleinfo-flex-right-ul {
  font-size: 1.2em;
}

.largeview-bundleimage {
  width: 18rem;
  height: auto;
  border-radius: 4px;
  filter: drop-shadow(0px 0px 5px #000000);
  -webkit-filter: drop-shadow(0px 0px 5px #000000);
  margin-top: 1rem;
}

.largeview-seperator {
  background: -webkit-linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  background: -o-linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  background: -moz-linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  background: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  height: 3px;
  border: none;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
}

.largeview-bundle-colors {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 2rem;
}

.largeview-bundle-colors h1 {
  margin-right: 2rem;
}

.largeview-bundle-weapon-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}

.largeview-bundle-weapon-info {
  margin-left: auto;
}

.largeview-bundle-weapon-img {
  width: auto;
  height: 8rem;
  filter: drop-shadow(0px 0px 5px #000000);
  -webkit-filter: drop-shadow(0px 0px 5px #000000);
}

.largeview-bundle-weapon-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.largeview-bundle-weapon-info ul li {
  margin-left: auto;
}

.bundle-weapons:last-child {
  margin-bottom: 5rem;
}

.hiddenBundleDesc {
  display: none;
}

.bundle-weapon-info-gunname {
  margin-bottom: 0.2rem;
}

.largeview-bundleweapon-preview {
  margin-top: 0.4rem;
}

.largeview-bundle-weapon-info {
  position: relative;
  top: -2rem;
}

.bundle-weapon-info-flex-ul {
  list-style-type: none;
}
.single-weapon-price {
  color: #00ffd5;
  text-shadow: 0 0 2.5px rgba(0, 255, 213, 0.7), 0 0 5px rgba(0, 255, 213, 0.7),
    0 0 15px rgba(0, 255, 213, 0.7);
  font-size: 1.2em;
}

.single-weapon-price-disabled {
  color: #ff0062;
  text-shadow: 0 0 2.5px rgba(255, 0, 98, 0.7), 0 0 5px rgba(255, 0, 98, 0.7),
    0 0 15px rgba(255, 0, 98, 0.7);
  font-size: 1.2em;
}

#price-disabled {
  color: #ff0062;
  text-shadow: 0 0 2.5px rgba(255, 0, 98, 0.7), 0 0 5px rgba(255, 0, 98, 0.7),
    0 0 15px rgba(255, 0, 98, 0.7);
}
