:root {
  --app-color: #12171d;
  --app-color-light: #1b222b;
  --app-color-lightest: #242e3a;

  /*DEFAULT COLORS*/
  --gradient-left: #c80043;
  --gradient-right: #6f00ff;

  --button-color-var: #ffffff;

  --box-shadow: 0 0 2.5px rgba(255, 0, 67, 0.7), 0 0 10px rgba(255, 0, 67, 0.7),
    0 0 30px rgba(255, 0, 67, 0.7);

  --text-shadow: 0 0 5px rgba(255, 0, 67, 0.6), 0 0 20px rgba(255, 0, 67, 0.6),
    0 0 60px rgba(255, 0, 67, 0.6);

  --button-color: #c80043;
  --button-hover-color: #ff0055;
  --global-textcolor: #fff;
}

.player-profile-wrapper {
  margin: 5% 5% 0% 5%;
  font-size: 1.3em;
}

.playerprofile-pageheader-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  width: 30%;
}

.playerprofile-data-header {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 2rem;
  align-items: center;
  align-content: center;
  margin-bottom: 10%;
}

.player-card-img {
  border-radius: 4px;
  border: 2px solid rgb(156, 156, 156);
  padding: 0.5rem;
  filter: drop-shadow(0px 0px 10px #000000);
  transition: all 0.2s ease;
}

.player-card-img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.player-rank {
  margin-right: 2rem;
  height: 7rem;
  filter: drop-shadow(0px 0px 10px #000000);
}

.player-rank.unranked {
  margin-right: 2rem;
  height: 7rem;
  filter: drop-shadow(0px 0px 10px #000000);
  position: relative;
  top: 5px;
}

.rotated-sep {
  transform: rotate(90deg);
  width: 20rem;
  margin-left: 0;
  margin-right: 0;
}

.last-updated {
  margin-left: auto;
  margin-right: 10%;
  font-size: 1.4em;
}

.match-wrapper {
  width: 95%;
  height: 5rem;
  border: 2px solid rgba(47, 53, 77, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4em;
  justify-content: space-between;
  background-color: var(--app-color-light);
  margin-bottom: 0.3rem;
  border-radius: 4px;
  z-index: 2 !important;
  margin-right: none;
  overflow: hidden;
}

.match-played-agent {
  height: 100%;
  filter: drop-shadow(0px 0px 10px #000000);
  margin-left: 1rem;
  margin-right: 3rem;
}

.match-mode-icon {
  height: 70%;
  filter: drop-shadow(0px 0px 10px #000000);
  margin-right: 3rem;
}

.match-kda {
  margin-right: 3%;
  width: 10%;
}

.match-result-lost {
  flex-grow: 1;
  color: #ff0044;
  width: 8%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.match-result-won {
  flex-grow: 1;
  color: #00ffd5;
  width: 8%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.match-result-draw {
  flex-grow: 1;
  color: #fff09e;
  width: 8%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.match-data-titles {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.match-map-gradient {
  height: 105%;
  position: relative;
  top: 0px;
  z-index: 1;
  overflow: hidden;
}

.match-map-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 105%;
  height: 105%;
  background: linear-gradient(
    to right,
    var(--app-color-light),
    rgba(0, 0, 0, 0.6)
  );
  border-radius: 4px;
}

.match-map {
  height: 100%;
  width: 24rem;
  z-index: 1 !important;
  white-space: nowrap;
}

.match-time {
  flex-grow: 1;
  margin-left: 4rem;
  z-index: 2;
}

.result-header {
  color: white;
}

.user-rr-wrapper {
  align-self: center;
  font-size: 1.5em;
  margin-left: 1rem;
}
