:root {
  --app-color: #12171d;
  --app-color-light: #1b222b;
  --app-color-lightest: #242e3a;

  /*DEFAULT COLORS*/
  --gradient-left: #c80043;
  --gradient-right: #6f00ff;

  --button-color-var: #ffffff;

  --box-shadow: 0 0 2.5px rgba(255, 0, 67, 0.7), 0 0 10px rgba(255, 0, 67, 0.7),
    0 0 30px rgba(255, 0, 67, 0.7);

  --text-shadow: 0 0 5px rgba(255, 0, 67, 0.6), 0 0 20px rgba(255, 0, 67, 0.6),
    0 0 60px rgba(255, 0, 67, 0.6);

  --button-color: #c80043;
  --button-hover-color: #ff0055;
  --global-textcolor: #fff;
}

/* Basic styling */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
  font-family: Bahnschrift, sans-serif;
  user-select: none;
}

body {
  font-family: Bahnschrift, sans-serif;
  color: var(--global-textcolor);
  overflow: hidden;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

/*Custom Scrollbar*/

*::-webkit-scrollbar {
  font-size: 25px;
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background: #1e1e24;
}

*::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
}

/*Links*/

a:link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
}

a:active {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(255, 255, 255);
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

#titlebar {
  display: block;
  position: fixed;
  height: 28px;
  width: calc(100% - 2px);
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#titlebar {
  padding: 4px;
  z-index: 10000 !important;
  background-color: var(--app-color);
  top: -1px;
  margin-top: 1px;
  color: var(--global-textcolor);
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#titlebar #drag-region {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 138px;
  grid-template-columns: auto 138px;
}

#window-title {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.maximized #window-title {
  margin-left: 12px;
}

#window-title span {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#WindowName {
  color: var(--global-textcolor);
}

.maximized #window-controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (46px);
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  margin-right: 0rem;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-title {
  height: 28px;
}

#window-controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (46px);
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  margin-right: 0.4rem;
}

#window-controls .button {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.update-banner {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 30%;
  height: 15%;
  transition: all 0.4s ease;
  opacity: 1;
  /*top: -32px;*/
  background-color: var(--app-color-lightest) !important;
  color: white;
  border-radius: 4px;
  z-index: 10000;
}

.update-banner span {
  position: absolute;
  transition: all 0.4s ease;
  top: -0.5rem;
  left: 1rem;
  width: 85%;
  opacity: 1;
  /*top: -32px;*/
  color: white;
  border-radius: 4px;
}

.update-relative-div {
  position: absolute;
  top: 0.5rem;
  right: 2.5rem;
}

.update-relative-div #toggle::after {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(192, 192, 192, 0.7), 0 0 50px rgba(112, 112, 112, 0.7);
}

.update-relative-div #toggle::before {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(192, 192, 192, 0.7), 0 0 50px rgba(112, 112, 112, 0.7);
}

.close-app {
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
}

.download-banner {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 30%;
  height: 15%;
  transition: all 0.4s ease;
  opacity: 1;
  /*top: -32px;*/
  background-color: var(--app-color-lightest) !important;
  color: white;
  border-radius: 4px;
  z-index: 10000;
}

.download-banner span {
  position: absolute;
  transition: all 0.4s ease;
  top: -0.5rem;
  left: 1rem;
  width: 85%;
  opacity: 1;
  /*top: -32px;*/
  color: white;
  border-radius: 4px;
}

.download-relative-div {
  position: absolute;
  top: 0.5rem;
  right: 2.5rem;
}

.download-relative-div #toggle::after {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(192, 192, 192, 0.7), 0 0 50px rgba(112, 112, 112, 0.7);
}

.download-relative-div #toggle::before {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(192, 192, 192, 0.7), 0 0 50px rgba(112, 112, 112, 0.7);
}

.download-bar {
  position: absolute;
  transition: all 0.4s ease;
  bottom: 1rem;
  left: 1rem;
  width: 85%;
  opacity: 1;
  /*top: -32px;*/
}

@media (-webkit-device-pixel-ratio: 1.5),
  (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2),
  (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3),
  (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
  background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
  background: #e81123 !important;
}

#close-button:active {
  background: #f1707a !important;
}

#close-button:active .icon {
  -webkit-filter: invert(1);
  filter: invert(1);
}

#min-button {
  -ms-grid-column: 1;
  grid-column: 1;
}

#max-button,
#restore-button {
  -ms-grid-column: 2;
  grid-column: 2;
}

#close-button {
  -ms-grid-column: 3;
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

button {
  border: none;
  background-color: var(--button-color);
  color: var(--button-color-var);
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 8px;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover {
  background-color: var(--button-hover-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--app-color);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 2.15em;
  height: 2.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.65em;
  height: 1.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--button-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.hidden-bgimage-div {
  margin-bottom: 2rem;
}

.bg-image-fileinput {
  display: none;
}

.fileinput-label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 2px solid var(--button-color);
  color: var(--global-textcolor);
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 4px;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0.8em;
  min-width: 6rem;
  width: 8rem;
  max-width: 8rem;
  text-align: center;
  text-overflow: ellipsis;
}

.fileinput-label:hover {
  border: 2px solid var(--button-hover-color);
  box-shadow: var(--box-shadow);
}

.fileinput-label.wrongFormat {
  border: 2px solid red;
}

.fileinput-label.wrongFormat:hover {
  border: 2px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 67, 0.6), 0 0 20px rgba(255, 0, 67, 0.6),
    0 0 60px rgba(255, 0, 67, 0.6);
}

.fileinput-label.rightFormat {
  border: 2px solid rgb(0, 255, 136);
}

.fileinput-label.rightFormat:hover {
  border: 2px solid rgb(0, 255, 136);
  box-shadow: 0 0 5px rgba(0, 255, 136, 0.6), 0 0 20px rgba(0, 255, 136, 0.6),
    0 0 60px rgba(0, 255, 136, 0.6);
}

.titlebar-img {
  width: 28px;
  height: auto;
  margin-right: 0.5rem;
}

.wrapper {
  position: relative;
  width: 100%;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  overflow-y: auto;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 15%;
  padding-right: 15%;
  opacity: 0;
}

#main-collection {
  height: calc(100%);
  overflow-y: auto;
}

.form__field {
  text-align: center;
  font-family: inherit;
  width: 25%;
  border: 0;
  border-bottom: 3px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: var(--global-textcolor);
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.form__field:focus {
  padding-bottom: 7px;
  font-weight: 600;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  border-image-slice: 1;
}

.search-wrapper {
  text-align: center;
}

#search-output {
  font-size: 22px;
}

#toggle {
  position: fixed;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10000;
}

#toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  width: 100%;
  height: 2px;
  background: #ffffff;
  box-shadow: var(--box-shadow);
}

#toggle::after {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 100%;
  height: 2px;
  background: #ffffff;
  box-shadow: var(--box-shadow);
}

.header-relative-div {
  position: fixed;
  left: 1rem;
  top: 2.5rem;
  width: 80%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 100000000000;
}

.navslide {
  position: fixed;
  width: 19.9%;
  left: -20%;
  height: calc(100% - 28px);
  margin-top: 28px;
  top: 0px;
  background-color: var(--app-color-light);
  filter: drop-shadow(0px 0px 0px #000000);
  -webkit-filter: drop-shadow(0px 0px 0px #000000);
  z-index: 999 !important;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  border-right: 1px solid white;
  user-select: none;
}

.navslide ul li {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  font-weight: 400;
  font-size: 1.4em;
  cursor: pointer;
}

.header-relative-div.active + #toggle {
  -webkit-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateX(25%);
}

.header-relative-div.active + #sec {
  -webkit-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateX(25%);
}

.header-relative-div.active ~ .navslide {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.header-relative-div.active {
  -webkit-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateX(25%);
}

.header-relative-div.active #toggle::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: var(--box-shadow);
}

.header-relative-div.active #toggle::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  box-shadow: var(--box-shadow);
}

.navslide-li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1.6rem !important;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}

.navslide-li.color {
  background: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neonAnimText 2s alternate-reverse infinite;
}

.navslide-li:hover > span:not(#socials-span) {
  color: var(--global-textcolor);
  background: inherit;
  background-clip: inherit;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: inherit;
}

.navslide-ul-container {
  padding-left: 0.5rem;
  list-style-type: none;
}

.content {
  position: relative;
  left: 0%;
}

.app {
  background: inherit;
  background-color: var(--app-color);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 10;
}

.content {
  color: #000000;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.content p {
  color: #000000;
}

.collapsible {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.6rem !important;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.collapsible::before {
  content: "\002B";
}

.collapsible:hover {
  color: white;
}

.active,
.collapsible:hover {
  background: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.collapsible.active::before {
  content: "\2212";
}

.collapsible:hover > .collapsible::before {
  color: white;
}

.collectables-sub {
  position: relative;
  font-size: 1.1em !important;
  font-weight: 300;
  margin-left: 1rem;
  color: rgba(255, 255, 255, 0.5);
  left: 8%;
}

.collectables-sub:hover {
  color: white;
}

#collectables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.collectables-sub.color {
  background: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neonAnimTextSmall 2s alternate-reverse infinite;
}

.pageheader {
  margin-top: 3%;
}

.app {
  opacity: 0;
}

.pageheader {
  margin-top: 3%;
  margin-left: 5%;
}

.swatch {
  cursor: pointer;
  width: 4rem;
  margin-right: 2rem;
  filter: drop-shadow(0px 0px 5px #000000);
  -webkit-filter: drop-shadow(0px 0px 5px #000000);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.swatch:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

video:focus {
  outline: none;
}

.pageheader-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  margin-top: 1%;
  margin-bottom: 3%;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.maximized .search-input-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: 12%;
}

.search-input-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: 15%;
}

.search-input {
  height: 30px;
}

.fas.fa-search {
  position: absolute;
  font-size: 23px;
  top: 20%;
  left: 128%;
  cursor: pointer;
}

.search-input {
  text-align: left;
  width: 140%;
  border: 0;
  border-bottom: 3px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: var(--global-textcolor);
  padding: 7px 0;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.search-input:focus {
  padding-bottom: 7px;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--gradient-left),
    var(--gradient-right)
  );
  border-image-slice: 1;
}

.header-relative-div-video {
  position: fixed;
  left: 79%;
  top: 9rem;
  width: 100%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 1000;
}

.header-relative-div-video #toggle::after {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  box-shadow: var(--box-shadow);
}

.header-relative-div-video #toggle::before {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: var(--box-shadow);
}

#largeview-bundleweapon-preview-link-hidden {
  display: none;
}

.largeview-vid {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.maximized .largeview-weapon-video {
  position: relative;
  width: 100%;
  height: 70%;
  top: -6rem;
  left: -2%;
}

.largeview-weapon-video {
  position: relative;
  width: 70%;
  height: calc(fit-content - 5%);
  top: -5rem;
  left: 15%;
}

.maximized .header-relative-div-video {
  position: fixed;
  left: 79.5%;
  top: 12% !important;
  width: 100%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 1000;
}

.header-relative-div-video {
  position: fixed;
  left: -80%;
  top: 14% !important;
  width: 100%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 1000;
}

.header-relative-div-largeview {
  position: fixed;
  left: 94%;
  top: 3rem;
  width: 100%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 1000;
}

.header-relative-div-largeview #toggle::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  box-shadow: var(--box-shadow);
}

.header-relative-div-largeview #toggle::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: var(--box-shadow);
}

.match-wrapper {
  width: 95%;
  height: 5rem;
  border: 2px solid rgba(47, 53, 77, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4em;
  justify-content: space-between;
  background-color: var(--app-color-light);
  margin-bottom: 0.3rem;
  border-radius: 4px;
  z-index: 2 !important;
  margin-right: none;
  overflow: hidden;
}

.match-played-agent {
  height: 100%;
  filter: drop-shadow(0px 0px 10px #000000);
  margin-left: 1rem;
  margin-right: 3rem;
}

.match-mode-icon {
  height: 70%;
  filter: drop-shadow(0px 0px 10px #000000);
  margin-right: 3rem;
}

.match-kda {
  margin-right: 3%;
  width: 10%;
}

.match-result-lost {
  flex-grow: 1;
  color: #ff0044;
  width: 8%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.match-result-won {
  flex-grow: 1;
  color: #00ffd5;
  width: 8%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.match-result-draw {
  flex-grow: 1;
  color: #fff09e;
  width: 8%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.match-map-gradient {
  height: 105%;
  position: relative;
  top: 0px;
  z-index: 1;
  overflow: hidden;
}

.result-header {
  color: white;
}

@keyframes neonAnimText {
  from {
    text-shadow: var(--text-shadow);
  }

  to {
    text-shadow: var(--text-shadow);
  }
}

@keyframes neonAnimTextSmall {
  from {
    text-shadow: var(--text-shadow);
  }

  to {
    text-shadow: var(--text-shadow);
  }
}

@keyframes neonAnimBoxSmall {
  from {
    box-shadow: var(--box-shadow);
  }

  to {
    box-shadow: var(--box-shadow);
  }
}

@keyframes neonAnimButtonSmall {
  from {
    box-shadow: var(--box-shadow);
  }

  to {
    box-shadow: var(--box-shadow);
  }
}

.loading-layer {
  width: 100%;
  height: 95%;
  background: var(--app-color);
}

.loading-icon {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20%;
}

.loading-icon i {
  font-size: 3em;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

select::-ms-expand {
  display: none;
}

select {
  /* ... */
  width: 10%;
  height: 45px;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

select:hover {
  box-shadow: var(--box-shadow);
}

select:focus {
  box-shadow: var(--box-shadow);
}

select:focus::-ms-value {
  background-color: transparent;
}

.bundle-weapon-info-gunname {
  margin-bottom: 0.2rem;
}

.largeview-bundleweapon-preview {
  margin-top: 0.4rem;
}

.largeview-bundle-weapon-info {
  position: relative;
  top: -2rem;
}

#main-home {
  overflow-y: auto;
  margin-top: 2.5%;
  margin-left: 5%;
}

.match-header-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}

#selected-matchtype {
  width: 8rem;
  height: 2rem;
  padding: 0;
  padding-left: 0.5rem;
}

.match-header-home span {
  margin-left: auto;
  font-size: 1.2em;
  margin-right: 0.5rem;
}

.playerprofile-pageheader-div-home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.last-updated {
  width: 100%;
}

.loading-div-home {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: var(--app-color);
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-loading-img {
  margin-top: 8rem;
  width: 25%;
}

.home-loading-circle {
  font-size: 1.8em;
}

#playersearch-loading-circle {
  position: absolute;
  top: 3.2rem;
  right: 35%;
  display: none;
}

.selected-matchtype-playerprofile {
  margin-right: 5%;
}

.user-rank-icon {
  width: 4rem;
  z-index: 900;
  align-self: center;
  opacity: 0;
}

.match-rr-img {
  width: 2.5rem;
  filter: drop-shadow(0px 0px 2px #000000);
}

.match-rr-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 20;
  text-align: left;
  margin-right: auto;
  margin-left: 1.5rem;
}

.match-rr-home-lose {
  position: relative;
  align-self: center;
  color: #ff0044;
  text-align: left;
  font-size: 1.2em;
  margin-left: 0.5rem;
}

.match-rr-home-win {
  position: relative;
  align-self: center;
  color: #00ffd5;
  text-align: left;
  font-size: 1.2em;
  margin-left: 0.5rem;
}

.match-rr-home-draw {
  position: relative;
  text-align: center;
  color: #fff09e;
  text-align: left;
  font-size: 1.2em;
  margin-left: 0.5rem;
}

.match-rr-img-pp {
  position: relative;
  top: 2px;
  width: 4rem;
  filter: drop-shadow(0px 0px 2px #000000);
}

.match-rr-pp-lose {
  position: relative;
  align-self: center;
  color: #ff0044;
  text-align: left;
  font-size: 1.2em;
  margin-left: 0.5rem;
}

.match-rr-pp-win {
  position: relative;
  align-self: center;
  color: #00ffd5;
  text-align: left;
  font-size: 1.2em;
  margin-left: 0.5rem;
}

.match-rr-pp-draw {
  position: relative;
  align-self: center;
  color: #fff09e;
  text-align: left;
  font-size: 1.2em;
  margin-left: 0.5rem;
}

.user-rr-wrapper-pp {
  margin-left: 1rem;
  font-size: 1.8em;
  margin-right: 22rem;
  width: 120%;
}

.hidden-matchid {
  display: none;
}

.far.fa-star {
  position: absolute;
  font-size: 1.3em;
  right: -2rem;
  cursor: pointer;
  color: rgb(161, 159, 38);
  transition: all 0.2s ease;
}

.far.fa-star:hover {
  color: rgb(201, 198, 30);
}

.fas.fa-star {
  position: absolute;
  font-size: 1.3em;
  right: -2rem;
  cursor: pointer;
  color: rgb(255, 251, 0);
  transition: all 0.2s ease;
}

.fas.fa-star:hover {
  color: rgb(190, 188, 20);
}

#patchnotes {
  position: absolute;
  bottom: 7rem;
  left: 1rem;
  cursor: pointer;
}

#settings {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  cursor: pointer;
}

#socials {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

#socials-span i {
  cursor: pointer;
}

.fab.fa-discord {
  transition: all 0.2s ease;
}

.fab.fa-discord:hover {
  color: rgb(114, 137, 218);
  text-shadow: 0 0 5px rgba(114, 137, 218, 0.8),
    0 0 20px rgba(114, 137, 218, 0.8), 0 0 60px rgba(114, 137, 218, 0.8);
}

.fab.fa-twitter {
  transition: all 0.2s ease;
}

.fab.fa-twitter:hover {
  color: #7289da;
  text-shadow: 0 0 5px rgba(27, 77, 255, 0.8), 0 0 20px rgba(27, 77, 255, 0.8),
    0 0 60px rgba(27, 77, 255, 0.8);
}

.fab.fa-github {
  transition: all 0.2s ease;
}

.fab.fa-github:hover {
  color: #d3d3d3;
  text-shadow: 0 0 5px rgba(167, 167, 167, 0.8),
    0 0 20px rgba(167, 167, 167, 0.8), 0 0 60px rgba(167, 167, 167, 0.8);
}

.fas.fa-globe {
  transition: all 0.2s ease;
}

.fas.fa-globe:hover {
  color: #d3d3d3;
  text-shadow: 0 0 5px rgba(167, 167, 167, 0.8),
    0 0 20px rgba(167, 167, 167, 0.8), 0 0 60px rgba(167, 167, 167, 0.8);
}
.error-code-mention-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 51;
  pointer-events: none;
}

.error-code-mention-wrapper div:first-child {
  margin-top: auto;
}

.error-code-mention-card {
  background-color: #a70024;
  width: 30rem;
  min-height: 5rem;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  position: relative;
  pointer-events: auto;
  border: 1px solid rgba(47, 53, 77, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.7),
    0 0 50px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  transform: scale(0.8);
}

.reload-page {
  margin-top: 0.5rem;
  background-color: #000000;
  color: white;
}

.reload-page:hover {
  box-shadow: none;
  background-color: #1b1b1b !important;
}

.error-card-relative-div-largeview {
  margin-left: 28rem;
  width: 100%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.error-card-relative-div-largeview #toggle::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(192, 192, 192, 0.7), 0 0 50px rgba(112, 112, 112, 0.7);
}

.error-card-relative-div-largeview #toggle::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(192, 192, 192, 0.7), 0 0 50px rgba(112, 112, 112, 0.7);
}

.closeCardWrapper {
  position: absolute;
  width: 95%;
  height: 1.8rem;
}

.hidden-error {
  display: none;
}

.error-code-card-content {
  max-width: 30rem;
}

#copy-to-clip {
  width: 14rem;
}

.TeamMVP {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(192, 192, 192, 0.7), 0 0 50px rgba(112, 112, 112, 0.7);
}

.MatchMVP {
  text-shadow: 0 0 5px rgba(255, 251, 0, 0.7), 0 0 20px rgba(255, 251, 0, 0.7),
    0 0 50px rgba(255, 251, 0, 0.7);
}
