:root {
  --app-color: #12171d;
  --app-color-light: #1b222b;
  --app-color-lightest: #242e3a;

  /*DEFAULT COLORS*/
  --gradient-left: #c80043;
  --gradient-right: #6f00ff;

  --button-color-var: #ffffff;

  --box-shadow: 0 0 2.5px rgba(255, 0, 67, 0.7), 0 0 10px rgba(255, 0, 67, 0.7),
    0 0 30px rgba(255, 0, 67, 0.7);

  --text-shadow: 0 0 5px rgba(255, 0, 67, 0.6), 0 0 20px rgba(255, 0, 67, 0.6),
    0 0 60px rgba(255, 0, 67, 0.6);

  --button-color: #c80043;
  --button-hover-color: #ff0055;
  --global-textcolor: #fff;
}

.last-searched-players {
  width: 40%;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.last-searched-player {
  height: 18%;
  background-color: var(--app-color-light);
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 4px;
  display: flex;
  font-size: 1.2em;
  align-items: center;
}

.last-searched-player span:first-child {
  margin-left: 1.5rem;
}

.lastPlayer-player-region {
  margin-left: auto;
  margin-right: 1rem;
}

.last-searched-player:hover {
  background-color: var(--app-color-lightest);
}

.fas.fa-times.removeLastSearch {
  margin-right: 1rem;
  font-size: 1.6em;
  transition: all 0.2s ease;
}

.fas.fa-times.removeLastSearch.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.fas.fa-times.removeLastSearch:hover {
  color: var(--button-hover-color);
}
